
<html>
<body>
<h1>
<p>
hello world
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	var Gfiles='';

	var myfunc=function(text){
		console.log(text);
	}
	var showFiles=function(files){
		var filenamelist=''
		for (int =0;i<files.length;i++){
			filenamelist += "&nbsp;&nbsp;" +files[i].name + "<br>";
		}
		$("#flist").html(filenmaelist);
		console.log('showFiles is called'+filenamelist);
		console.log('update flist');
	}
	var showfilelist=function(){
		console.log('showfileslist is called');
		console.log($('#fileselect')[0].files[0].name);
		/*
		G_files=$("#fileselect").files;
		for(var i=0;i<G_files.length;i++){
			filenamelist+=G_files[i]+'<br>';
		}
		console.log(filenamelist);
		$('#flist').html(filenamelist);
		*/

	}
	$("#fileselect").bind("change",function(){
		console.log('fileselect.bind is called');
		G_files=this.files;
		showFiles(G_files);
	});
	$("#fileselect").bind("click",function(){
		console.log('fileselect.bind is called');
		G_files=this.files;
		showFiles(G_files);
	});
	$(document).ready(function(){
		$("#hider").click(function(){
			$(this).hide();
		});
	});

</script>
<p>
	<INPUT type='button' name='button_name' value='button_value' onclick="showfilelist()">
</p>

<div id='target' draggable='true' style='wirth:500px;background:#ffcccc;border:#f00000;solid 1px;'>
	<div id='flist'>flist</div>
</div>

<input type='file' name='fileselect' multipe='mutiple' id='fileselect'>
<input type='button' value='fileselect' onclick='$("#fileselect").click();'>

<!--form method="POST" action="/api/v1/requesthandler">
	<div>text:a<input type='file' name='fileselect' id='fileselect'></div>
	<input type='button' value='fileselect' onclick='$("#fileselect").click();'>
	<input type='submit' value='submit'>
	<input type='reset' value='reset'>
</form--!>

<p id='hider'>hide me</p>
<form method="GET" action="/api/v1/requesthandler">
	<div>text:a<input type='text' name='text'></div>
	<input type='submit' value='submit'>
	<input type='reset' value='reset'>
</form>

</h1>
</body>
</html>
