
<html>
<body>
<h1>
<p>
hello world
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
	var Gfiles='';

	var myfunc=function(text){
		console.log(text);
	}
	var showFiles=function(files){
		var filenamelist=''
		for (int =0;i<files.length;i++){
			filenamelist += "&nbsp;&nbsp;" +files[i].name + "<br>";
		}
		$("#flist").html(filenmaelist);
		console.log('showFiles is called'+filenamelist);
		console.log('update flist');
	}
	var showfilelist=function(){
		console.log('showfileslist is called');
		flist=$('#fileselect')[0].files[0].name;
		console.log(flist);
		$('#flist').html(flist);
	}
</script>
<p>
	<INPUT type='button' name='button_name' value='button_value' onclick="showfilelist()">
</p>

<div id='target' draggable='true' style='wirth:500px;background:#ffcccc;border:#f00000;solid 1px;'>
	<div id='flist'>flist</div>
</div>

<input type='file' name='fileselect' multipe='mutiple' id='fileselect'>
<input type='button' value='fileselect' onclick='$("#fileselect").click();'>

</h1>
</body>
</html>
